version: 2
updates:
  - package-ecosystem: cargo
    directories:
      - /
      - fuzz
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
