[package]
name = "h3-quinn"
version = "0.0.0"
authors = ["Jean-Christophe BEGUE <jc.begue@pm.me>"]
edition = "2018"

[dependencies]
pin-project = "1.0.12"
tokio = { version = "1", features = ["sync"] }
h3 = { path = "../h3" }
bytes = "1"
futures-util = { version = "0.3", default-features = false, features = ["io"] }
quinn = { version = "0.9", default-features = false }
quinn-proto = { version = "0.9", default-features = false }
