[package]
name = "h3"
version = "0.0.0"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
edition = "2018"

[dependencies]
bytes = "0.5"
futures = "0.3"
lazy_static = "1.4.0"
tracing = "0.1.18"

[dev_dependencies]
assert_matches= "1.3.0"
tokio = { version = "0.2", features = ["rt-threaded", "macros"]}
proptest = "0.10.1"
