[package]
name = "h3"
version = "0.0.0"
authors = ["Sean McArthur <sean@seanmonstar.com>", "Jean-Christophe BEGUE <jc.begue@pm.me>"]
license = "MIT"
edition = "2018"

[features]
test_helpers = []

[dependencies]
bytes = "1"
futures-util = { version = "0.3", default-features = false }
http = "0.2.3"
tokio = { version = "1", features = ["sync"] }
tracing = "0.1.18"

[dev-dependencies]
assert_matches= "1.3.0"
tokio = { version = "1", features = ["rt", "macros"] }
proptest = "1"
